#Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
#apache-airflow-providers-google==10.3.0 no need to keep it becuse it comes with cosmos
#soda-core-bigquery==3.0.45 no need to keep it becuse it is already installed in the python venv
astronomer-cosmos[dbt-bigquery]==1.0.3 // install google + cosmos + dbt
protobuf==3.20.0